CalculatorClient/src/wsdl/localhost_8080/WebCalculator.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="WebCalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:8080/WebCalculator?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"></part>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"></part>
</message>
<message name="NegativeNumberException">
<part name="fault" element="tns:NegativeNumberException"></part>
</message>
<message name="minus">
<part name="parameters" element="tns:minus"></part>
</message>
<message name="minusResponse">
<part name="parameters" element="tns:minusResponse"></part>
</message>
<message name="times">
<part name="parameters" element="tns:times"></part>
</message>
<message name="timesResponse">
<part name="parameters" element="tns:timesResponse"></part>
</message>
<portType name="WebCalculator">
<operation name="add">
<input wsam:Action="http://webService/WebCalculator/addRequest" message="tns:add"></input>
<output wsam:Action="http://webService/WebCalculator/addResponse" message="tns:addResponse"></output>
<fault message="tns:NegativeNumberException" name="NegativeNumberException" wsam:Action="http://webService/WebCalculator/add/Fault/NegativeNumberException"></fault>
</operation>
<operation name="minus">
<input wsam:Action="http://webService/WebCalculator/minusRequest" message="tns:minus"></input>
<output wsam:Action="http://webService/WebCalculator/minusResponse" message="tns:minusResponse"></output>
<fault message="tns:NegativeNumberException" name="NegativeNumberException" wsam:Action="http://webService/WebCalculator/minus/Fault/NegativeNumberException"></fault>
</operation>
<operation name="times">
<input wsam:Action="http://webService/WebCalculator/timesRequest" message="tns:times"></input>
<output wsam:Action="http://webService/WebCalculator/timesResponse" message="tns:timesResponse"></output>
<fault message="tns:NegativeNumberException" name="NegativeNumberException" wsam:Action="http://webService/WebCalculator/times/Fault/NegativeNumberException"></fault>
</operation>
</portType>
<binding name="WebCalculatorPortBinding" type="tns:WebCalculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="add">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NegativeNumberException">
<soap:fault name="NegativeNumberException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="minus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NegativeNumberException">
<soap:fault name="NegativeNumberException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="times">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NegativeNumberException">
<soap:fault name="NegativeNumberException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="WebCalculatorService">
<port name="WebCalculatorPort" binding="tns:WebCalculatorPortBinding">
<soap:address location="http://localhost:8080/WebCalculator"></soap:address>
</port>
</service>
</definitions>